<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eat Da Burger</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/animate.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Open+Sans" rel="stylesheet">
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="./assets/css/font-awesome.css"></script>
</head>
<body>
	<header class="gradient-pattern">
		<h1 class="">Eat Dat Burger</h1>
		<form>
			<div class="input-area">
				<div class="row">
					<input id="input" name="buger-input" type="text" placeholder="Enter burger name">
					<button id="add" type="submit">ADD BURGER</button>
				</div>
			</div>
		</form>
	</header>
	{{{ body }}}
	<script type="text/javascript" src="./assets/javascript/burgerscript.js"></script>
</body>
</html>